.project {
  width: 40%;
  margin: 2em auto;
}

.projectimg > img {
  width: 100%;
  padding: .5em;
  border: 2px solid rgb(165, 112, 6);
}

h1 {
	text-align: center;
}

.description a {
  text-align: center;
  color: rgb(64, 98, 141);
  text-decoration: none;
}

.description p {
	margin-bottom: 2.5em;
}

.assign {
	font-weight: 700;
}