

@media only screen and (max-width: 650px) {
  h1, .question, p {
    width: 90%;
    margin: 0 5%;
  }
  .masthead-heading {
  	font-size: 4.5em;
  }
}
@media only screen and (max-width: 500px) {
  .masthead {
    padding: 1.5em 0;
  }
  .social > li {
    padding: .5em;
  }
  #title {
    margin-bottom: 0;
  }
  .masthead-intro {
  	font-size: 1.25em;
  }
}

@media only screen and (max-width: 420px) {
  .navigation ul li {
    margin-left: .25em;
    margin-right: .25em;
  }
}