.aljazari {
  h2 {
    font-weight: 700;
    text-align: center;
    margin: 1rem auto 1rem;
    color:  $primary;
    font-size: 2rem;
  }

  h3 {
    font-size: 1.25rem;
    font-weight: 700;
    color: $secondary;
  }

  h4 {
    color: $dark-color;
    font-size: 1.1rem;
    font-weight: bold;
  }

  p {
    letter-spacing: .05;
    color: $dark-color;
    margin: 1rem 0;
  }

  .date {
    margin-top: .25rem;
    color: $primary;
    font-style: italic;
  }
}
