//--- Variables ---
$primary: #a77517;
$secondary: #40628d;
$dark-color: #383838;
$light: #cdedf6;
$callout-color: #ef7b45;
$error-color: #d84727;
$white: #fff;

// --- Base ---
@import 'base/reset';
@import 'base/main';

// --- Layout ---


// --- Modules ---
@import 'module/m-navigation';
@import 'module/m-masthead';
@import 'module/m-info-section.scss';
@import 'module/m-footer.scss';

// --- State ---


// --- Theme ---
@import 'themes/aljazari';
