// --- Variables ---
$primary: #5eb1bf;
$dark-color: #1A3D3E;
$light: #cdedf6;
$callout-color: #ef7b45;
$error-color: #d84727;
$white: #fff;

// --- Base ---
@import 'base/reset';
@import 'base/main';

// --- Layout ---


// --- Modules ---
@import 'module/m-navigation';
