.masthead {
  text-align: center;
  padding: 6em 0;
  background-color: $dark-color;
  background-image: url("../../images/chicago-min.jpg");
  background-position: 33% center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: solid 3px $dark-color;

  .masthead-intro {
    margin-bottom: 1em;
    font-family: "Gentium Book Basic", Georgia, sans-serif;
    font-size: 1.5em;
    color: $white;
  }

  .masthead-heading {
    margin-top: -0.2em;
    font-size: 6em;
    font-family: "Titillium Web", "Open-Sans", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -0.06em;
    color: $primary;
    margin-bottom: 0;
  }
}

.backdrop {
  background: rgba(0,0,0,.5);
  padding: 2rem;
}
